# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

#There are two keys in the .env file - API_KEY and APP_URL (for Firebase).
#If you want the application to work properly, create a new project in Firebase,
#create a Realtime Database and copy the url as APP_URL. To get API_KEY, get Web API Key from Project Settings in Firebase.
#Then in the root folder add '.env' file and add the following lines in the '.env' file:
#API_KEY = [YOUR_API_KEY]
#APP_URL = [YOUR_APP_URL]
.env

/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
